In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data = pd.read_csv('../data/train.csv')

In [3]:
train_data.describe(include = 'all')

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
count,1460.000000,1460.000000,1460,1201.000000,1460.000000,1460,91,1460,1460,1460,...,1460.000000,7,281,54,1460.000000,1460.000000,1460.000000,1460,1460,1460.000000
unique,NaN,NaN,5,NaN,NaN,2,2,4,4,2,...,NaN,3,4,4,NaN,NaN,NaN,9,6,NaN
top,NaN,NaN,RL,NaN,NaN,Pave,Grvl,Reg,Lvl,AllPub,...,NaN,Gd,MnPrv,Shed,NaN,NaN,NaN,WD,Normal,NaN
freq,NaN,NaN,1151,NaN,NaN,1454,50,925,1311,1459,...,NaN,3,157,49,NaN,NaN,NaN,1267,1198,NaN
mean,730.500000,56.897260,NaN,70.049958,10516.828082,NaN,NaN,NaN,NaN,NaN,...,2.758904,NaN,NaN,NaN,43.489041,6.321918,2007.815753,NaN,NaN,180921.195890
std,421.610009,42.300571,NaN,24.284752,9981.264932,NaN,NaN,NaN,NaN,NaN,...,40.177307,NaN,NaN,NaN,496.123024,2.703626,1.328095,NaN,NaN,79442.502883
min,1.000000,20.000000,NaN,21.000000,1300.000000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,1.000000,2006.000000,NaN,NaN,34900.000000
25%,365.750000,20.000000,NaN,59.000000,7553.500000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,5.000000,2007.000000,NaN,NaN,129975.000000
50%,730.500000,50.000000,NaN,69.000000,9478.500000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,6.000000,2008.000000,NaN,NaN,163000.000000
75%,1095.250000,70.000000,NaN,80.000000,11601.500000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,8.000000,2009.000000,NaN,NaN,214000.000000
max,1460.000000,190.000000,NaN,313.000000,215245.000000,NaN,NaN,NaN,NaN,NaN,...,738.000000,NaN,NaN,NaN,15500.000000,12.000000,2010.000000,NaN,NaN,755000.000000

In [4]:
#Setting display screen for data frame
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 2000)

In [5]:
train_data.head()

   Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape LandContour Utilities LotConfig LandSlope Neighborhood Condition1 Condition2 BldgType HouseStyle  OverallQual  OverallCond  YearBuilt  YearRemodAdd RoofStyle RoofMatl Exterior1st Exterior2nd MasVnrType  MasVnrArea ExterQual ExterCond Foundation BsmtQual BsmtCond BsmtExposure BsmtFinType1  BsmtFinSF1 BsmtFinType2  BsmtFinSF2  BsmtUnfSF  TotalBsmtSF Heating HeatingQC CentralAir Electrical  1stFlrSF  2ndFlrSF  LowQualFinSF  GrLivArea  BsmtFullBath  BsmtHalfBath  FullBath  HalfBath  BedroomAbvGr  KitchenAbvGr KitchenQual  TotRmsAbvGrd Functional  Fireplaces FireplaceQu GarageType  GarageYrBlt GarageFinish  GarageCars  GarageArea GarageQual GarageCond PavedDrive  WoodDeckSF  OpenPorchSF  EnclosedPorch  3SsnPorch  ScreenPorch  PoolArea PoolQC Fence MiscFeature  MiscVal  MoSold  YrSold SaleType SaleCondition  SalePrice
0   1          60       RL         65.0     8450   Pave   NaN      Reg         Lvl    AllPub    Inside       Gtl      CollgCr       Norm       Norm     1Fam     2Story            7            5       2003          2003     Gable  CompShg     VinylSd     VinylSd    BrkFace       196.0        Gd        TA      PConc       Gd       TA           No          GLQ         706          Unf           0        150          856    GasA        Ex          Y      SBrkr       856       854             0       1710             1             0         2         1             3             1          Gd             8        Typ           0         NaN     Attchd       2003.0          RFn           2         548         TA         TA          Y           0           61              0          0            0         0    NaN   NaN         NaN        0       2    2008       WD        Normal     208500
1   2          20       RL         80.0     9600   Pave   NaN      Reg         Lvl    AllPub       FR2       Gtl      Veenker      Feedr       Norm     1Fam     1Story            6            8       1976          1976     Gable  CompShg     MetalSd     MetalSd       None         0.0        TA        TA     CBlock       Gd       TA           Gd          ALQ         978          Unf           0        284         1262    GasA        Ex          Y      SBrkr      1262         0             0       1262             0             1         2         0             3             1          TA             6        Typ           1          TA     Attchd       1976.0          RFn           2         460         TA         TA          Y         298            0              0          0            0         0    NaN   NaN         NaN        0       5    2007       WD        Normal     181500
2   3          60       RL         68.0    11250   Pave   NaN      IR1         Lvl    AllPub    Inside       Gtl      CollgCr       Norm       Norm     1Fam     2Story            7            5       2001          2002     Gable  CompShg     VinylSd     VinylSd    BrkFace       162.0        Gd        TA      PConc       Gd       TA           Mn          GLQ         486          Unf           0        434          920    GasA        Ex          Y      SBrkr       920       866             0       1786             1             0         2         1             3             1          Gd             6        Typ           1          TA     Attchd       2001.0          RFn           2         608         TA         TA          Y           0           42              0          0            0         0    NaN   NaN         NaN        0       9    2008       WD        Normal     223500
3   4          70       RL         60.0     9550   Pave   NaN      IR1         Lvl    AllPub    Corner       Gtl      Crawfor       Norm       Norm     1Fam     2Story            7            5       1915          1970     Gable  CompShg     Wd Sdng     Wd Shng       None         0.0        TA        TA     BrkTil       TA       Gd           No          ALQ         216          Unf           0        540          756    GasA        Gd          Y      SBrkr       961       756             0       1717             1             0         1         0             3             1          Gd             7        Typ           1          Gd     Detchd       1998.0          Unf           3         642         TA         TA          Y           0           35            272          0            0         0    NaN   NaN         NaN        0       2    2006       WD       Abnorml     140000
4   5          60       RL         84.0    14260   Pave   NaN      IR1         Lvl    AllPub       FR2       Gtl      NoRidge       Norm       Norm     1Fam     2Story            8            5       2000          2000     Gable  CompShg     VinylSd     VinylSd    BrkFace       350.0        Gd        TA      PConc       Gd       TA           Av          GLQ         655          Unf           0        490         1145    GasA        Ex          Y      SBrkr      1145      1053             0       2198             1             0         2         1             4             1          Gd             9        Typ           1          TA     Attchd       2000.0          RFn           3         836         TA         TA          Y         192           84              0          0            0         0    NaN   NaN         NaN        0      12    2008       WD        Normal     250000

In [6]:
train_data.shape

(1460, 81)

In [7]:
#returns Columns list which having Nan values
def ColWithNanData():
    ListOfColNanData = train_data.columns[train_data.isnull().any()].tolist()
    return ListOfColNanData

In [8]:
train_data[ColWithNanData()].isnull().sum().sort_values()/len(train_data) * 100

Electrical       0.068493
MasVnrType       0.547945
MasVnrArea       0.547945
BsmtQual         2.534247
BsmtCond         2.534247
BsmtFinType1     2.534247
BsmtExposure     2.602740
BsmtFinType2     2.602740
GarageCond       5.547945
GarageQual       5.547945
GarageFinish     5.547945
GarageType       5.547945
GarageYrBlt      5.547945
LotFrontage     17.739726
FireplaceQu     47.260274
Fence           80.753425
Alley           93.767123
MiscFeature     96.301370
PoolQC          99.520548
dtype: float64

In [9]:
# Features with over 50% of its observations missings will be removed
train_data = train_data.drop(['PoolQC','MiscFeature','Alley','Fence'],axis = 1)

In [10]:
# Function to impute missing values
def feat_impute(column, value):
    train_data.loc[train_data[column].isnull(),column] = value

In [11]:
pd.crosstab(train_data['FireplaceQu'],train_data['Fireplaces'])

Fireplaces     1   2  3
FireplaceQu
Ex            19   4  1
Fa            28   4  1
Gd           324  54  2
Po            20   0  0
TA           259  53  1

In [12]:
# As we can see that all 690 missing feature of FireplaceQu ressembles with 0 value in Fireplaces ,So We are imputing it with None
feat_impute('FireplaceQu','None')
train_data['FireplaceQu'].isnull().sum()

0

In [13]:
# Check to see if there is a strong correlation with other variables we can use to impute
corr_lf = train_data.select_dtypes(include = ['float64', 'int64']).iloc[:, 1:].corr()

cor_dict_lf = corr_lf['LotFrontage'].to_dict()
sorted(cor_dict_lf.items(), key = lambda x: -abs(x[1]))

[('LotFrontage', 1.0),
 ('1stFlrSF', 0.4571810019946558),
 ('LotArea', 0.4260950187718087),
 ('GrLivArea', 0.40279741408532066),
 ('TotalBsmtSF', 0.39207457637917215),
 ('MSSubClass', -0.3863468853449303),
 ('TotRmsAbvGrd', 0.35209594766022567),
 ('SalePrice', 0.35179909657067854),
 ('GarageArea', 0.34499672410648324),
 ('GarageCars', 0.28569092468510454),
 ('Fireplaces', 0.2666394825603015),
 ('BedroomAbvGr', 0.26316991588106087),
 ('OverallQual', 0.25164577548061245),
 ('BsmtFinSF1', 0.23363316701975517),
 ('PoolArea', 0.20616677527607583),
 ('FullBath', 0.1987686778973781),
 ('MasVnrArea', 0.19345806055826895),
 ('OpenPorchSF', 0.15197222768060648),
 ('BsmtUnfSF', 0.13264374162493386),
 ('YearBuilt', 0.12334946703331695),
 ('BsmtFullBath', 0.10094856694926896),
 ('YearRemodAdd', 0.08886557249206857),
 ('WoodDeckSF', 0.08852093328940891),
 ('2ndFlrSF', 0.0801772706242048),
 ('GarageYrBlt', 0.07024978191661561),
 ('3SsnPorch', 0.07002922773085192),
 ('OverallCond', -0.05921345000524757),
 ('HalfBath', 0.05353185497960573),
 ('BsmtFinSF2', 0.04989967669098971),
 ('ScreenPorch', 0.04138279067500541),
 ('LowQualFinSF', 0.038468534328960156),
 ('MoSold', 0.011199954759134191),
 ('EnclosedPorch', 0.01070033663888262),
 ('YrSold', 0.007449589209775585),
 ('BsmtHalfBath', -0.007234304524918143),
 ('KitchenAbvGr', -0.006068830161309095),
 ('MiscVal', 0.0033675565961912833)]

In [14]:
#As no other column having strong correlation with LotFrontage, So will replace NaN with Median
train_data['LotFrontage'] = train_data['LotFrontage'].fillna(train_data['LotFrontage'].median())

print('LotFrontage Missing After:', train_data['LotFrontage'].isnull().sum())

LotFrontage Missing After: 0

In [15]:
null_garage = ['GarageYrBlt', 'GarageType', 'GarageFinish','GarageQual','GarageCond']

In [16]:
train_data[null_garage].isnull().sum()

GarageYrBlt     81
GarageType      81
GarageFinish    81
GarageQual      81
GarageCond      81
dtype: int64

In [17]:
# Impute null garage features
for cols in null_garage:
    feat_impute(cols,0)

In [18]:
train_data[['GarageYrBlt', 'GarageType', 'GarageFinish','GarageQual','GarageCond']].isnull().sum()

GarageYrBlt     0
GarageType      0
GarageFinish    0
GarageQual      0
GarageCond      0
dtype: int64

In [19]:
#validation (House with 0 Garage Cars should have values in null_garage as 0)
for i in null_garage:
    print(pd.crosstab(train_data['GarageCars'],i))

col_0       GarageYrBlt
GarageCars
0                    81
1                   369
2                   824
3                   181
4                     5
col_0       GarageType
GarageCars
0                   81
1                  369
2                  824
3                  181
4                    5
col_0       GarageFinish
GarageCars
0                     81
1                    369
2                    824
3                    181
4                      5
col_0       GarageQual
GarageCars
0                   81
1                  369
2                  824
3                  181
4                    5
col_0       GarageCond
GarageCars
0                   81
1                  369
2                  824
3                  181
4                    5

In [20]:
#Checking Basement column missing value
null_Basement = ['BsmtFinType2','BsmtExposure']
train_data[null_Basement].isnull().sum()

BsmtFinType2    38
BsmtExposure    38
dtype: int64

In [21]:
#Checking null_Basement 
train_data[train_data['BsmtFinType2'].isnull()|train_data['BsmtExposure'].isnull()][['BsmtFinType2','BsmtExposure','TotalBsmtSF']]

     BsmtFinType2 BsmtExposure  TotalBsmtSF
17            NaN          NaN            0
39            NaN          NaN            0
90            NaN          NaN            0
102           NaN          NaN            0
156           NaN          NaN            0
182           NaN          NaN            0
259           NaN          NaN            0
332           NaN           No         3206
342           NaN          NaN            0
362           NaN          NaN            0
371           NaN          NaN            0
392           NaN          NaN            0
520           NaN          NaN            0
532           NaN          NaN            0
533           NaN          NaN            0
553           NaN          NaN            0
646           NaN          NaN            0
705           NaN          NaN            0
736           NaN          NaN            0
749           NaN          NaN            0
778           NaN          NaN            0
868           NaN          NaN            0
894           NaN          NaN            0
897           NaN          NaN            0
948           Unf          NaN          936
984           NaN          NaN            0
1000          NaN          NaN            0
1011          NaN          NaN            0
1035          NaN          NaN            0
1045          NaN          NaN            0
1048          NaN          NaN            0
1049          NaN          NaN            0
1090          NaN          NaN            0
1179          NaN          NaN            0
1216          NaN          NaN            0
1218          NaN          NaN            0
1232          NaN          NaN            0
1321          NaN          NaN            0
1412          NaN          NaN            0

In [22]:
#As we can observe that at 332 & 948 row in TotalBsmtSF is not 0 , So we replace corresponding row with Mode of that feature
train_data.iloc[332,train_data.columns.get_loc("BsmtFinType2")] = train_data['BsmtFinType2'].mode()[0]

In [23]:
#As we can observe that at 332 & 948 row in TotalBsmtSF is not 0 , So we replace corresponding row with Mode of that feature
train_data.iloc[948,train_data.columns.get_loc("BsmtExposure")] = train_data['BsmtExposure'].mode()[0]

In [24]:
#Impute Null values with None and 0
for i in null_Basement:
    if train_data[i].dtype == np.object:
        feat_impute(i,'None')
    else:
        feat_impute(i,0)

In [25]:
#Checking Basement column with any missing value
null_Basement = ['BsmtFinType2','BsmtExposure']
train_data[null_Basement].isnull().sum()

BsmtFinType2    0
BsmtExposure    0
dtype: int64

In [26]:
#Checking Basement column missing value
null_Basement = ['BsmtQual','BsmtCond','BsmtFinType1']
train_data[null_Basement].isnull().sum()

BsmtQual        37
BsmtCond        37
BsmtFinType1    37
dtype: int64

In [27]:
#Checking that missing values for corresponding feature belongs to same rows or not
train_data[train_data['BsmtQual'].isnull() | train_data['BsmtCond'].isnull() | train_data['BsmtFinType1'].isnull() | train_data['TotalBsmtSF'].isnull()][['TotalBsmtSF','BsmtFinType1','BsmtCond','BsmtQual']]

      TotalBsmtSF BsmtFinType1 BsmtCond BsmtQual
17              0          NaN      NaN      NaN
39              0          NaN      NaN      NaN
90              0          NaN      NaN      NaN
102             0          NaN      NaN      NaN
156             0          NaN      NaN      NaN
182             0          NaN      NaN      NaN
259             0          NaN      NaN      NaN
342             0          NaN      NaN      NaN
362             0          NaN      NaN      NaN
371             0          NaN      NaN      NaN
392             0          NaN      NaN      NaN
520             0          NaN      NaN      NaN
532             0          NaN      NaN      NaN
533             0          NaN      NaN      NaN
553             0          NaN      NaN      NaN
646             0          NaN      NaN      NaN
705             0          NaN      NaN      NaN
736             0          NaN      NaN      NaN
749             0          NaN      NaN      NaN
778             0          NaN      NaN      NaN
868             0          NaN      NaN      NaN
894             0          NaN      NaN      NaN
897             0          NaN      NaN      NaN
984             0          NaN      NaN      NaN
1000            0          NaN      NaN      NaN
1011            0          NaN      NaN      NaN
1035            0          NaN      NaN      NaN
1045            0          NaN      NaN      NaN
1048            0          NaN      NaN      NaN
1049            0          NaN      NaN      NaN
1090            0          NaN      NaN      NaN
1179            0          NaN      NaN      NaN
1216            0          NaN      NaN      NaN
1218            0          NaN      NaN      NaN
1232            0          NaN      NaN      NaN
1321            0          NaN      NaN      NaN
1412            0          NaN      NaN      NaN

In [28]:
#As we can see that all 3 basement columns missing value matching with corresponding TotalBsmtSF rows with 0 , So replacing it 0 or None
for i in null_Basement:
    if train_data[i].dtype == np.object:
        feat_impute(i,'None')
    else:
        feat_impute(i,0)

In [29]:
#Checking Basement column missing value
null_Basement = ['BsmtQual','BsmtCond','BsmtFinType1']
train_data[null_Basement].isnull().sum()

BsmtQual        0
BsmtCond        0
BsmtFinType1    0
dtype: int64

In [30]:
#Checking for missing value of MasVnrArea & MasVnrType
null_Masonry = ['MasVnrArea','MasVnrType']

In [31]:
train_data[null_Masonry].isnull().sum()

MasVnrArea    8
MasVnrType    8
dtype: int64

In [32]:
#checking if both above two attributes missing in same row
train_data[train_data['MasVnrArea'].isnull() | train_data['MasVnrType'].isnull()][['MasVnrArea','MasVnrType']]

      MasVnrArea MasVnrType
234          NaN        NaN
529          NaN        NaN
650          NaN        NaN
936          NaN        NaN
973          NaN        NaN
977          NaN        NaN
1243         NaN        NaN
1278         NaN        NaN

In [33]:
#As only 8 values are missing , We replace it with mode
for i in null_Masonry:
    if train_data[i].dtype == np.object:
        feat_impute(i, train_data[i].mode()[0])
    else:
        feat_impute(i, train_data[i].mode()[0])

In [34]:
#checking missing value after imputation
train_data[null_Masonry].isnull().sum()

MasVnrArea    0
MasVnrType    0
dtype: int64

In [35]:
#Checking missing values for Electrical column
train_data['Electrical'].isnull().sum()

1

In [36]:
#As only 1 value is missing , we replace it with mode
feat_impute('Electrical',train_data['Electrical'].mode()[0])

In [37]:
#Checking missing values of  Electrical after imputation
train_data['Electrical'].isnull().sum()

0

In [39]:
#Checking if Data frame contains any null values or not
train_data.isnull().any().any()

False